body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a3d1a; /* Dark green background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#gameCanvas {
  border: 5px solid black;
  background-color: #1a3d1a;
}

#startButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
}

#startButton:hover {
  background-color: #45a049;
}
